@media screen and (min-width: 2200px)
  .bonus__page
    .banner
      padding: 0 120px
      &__text
        transform: scale(1.6)
        transform-origin: left

@media screen and (max-width: 1920px)
  .bonus__page
    .banner
      &__text
        transform: scale(1.3)
        transform-origin: left

@media screen and (max-width: 1700px)
  .bonus__page
    .banner
      &__text
        transform: scale(1.2)
        transform-origin: left

@media screen and (max-width: 1550px)
  .bonus__page
    .banner
      &__text
        transform: scale(1)

@media screen and (max-width: 1300px)
  .bonus__page
    .banner
      &__text
        transform: scale(.9)

@media screen and (max-width: 1200px)
  .bonus__page
    .banner
      &__text
        transform: scale(.8)
    .info
      flex-wrap: wrap
      &__item
        flex: 0 0 100%
        padding: 40px 10px 55px 40px
        &-title
          max-width: 640px
        &-desc
          min-height: 70px
          max-width: 570px
          br
            display: block

@media screen and (max-width: 1024px)
  .bonus__page
    .banner
      padding: 0 40px
      height: 44vw
      &::before
        width: 45%
      &__text
        transform: scale(1.1)
        &-title
          font-size: 44px
          line-height: 50px
          margin-bottom: 15px
          letter-spacing: 1.32px
        &-desc
          .banner__desc-item
            font-size: 16px
            line-height: 20px
            letter-spacing: .48px
    .rules
      padding: 50px 40px
      &__wrap
        .rules__list-item, .rules__list-title
          font-size: 14px
          line-height: 24px
        .table-container
          .table
            &__row
              &-item
                font-size: 14px
                line-height: 22px

@media screen and (max-width: 850px)
  .bonus__page
    .banner
      &__text
        transform: scale(1)

@media screen and (max-width: 750px)
  .bonus__page
    .banner
      &__text
       transform: scale(.9)
    .info
      &__item
        &-title
          max-width: 600px
        &-desc
          max-width: 500px
          br
            display: none
    .rules
      .table-container
        .table
          &__row
            &-item
              order: 10
              &:nth-child(1)
                flex: 0 0 50%
                order: 1
                opacity: .65
              &:nth-child(2)
                flex: 0 0 50%
                order: 2
                opacity: .65
              &:nth-child(3)
                flex: 0 0 100%
                order: 5
                opacity: .65
              &:nth-child(4)
                flex: 0 0 100%
                order: 7
                opacity: .65
              &:nth-child(5)
                order: 3
                flex: 0 0 50%
                padding-top: 0
              &:nth-child(6)
                order: 4
                flex: 0 0 50%
                padding-top: 0
              &:nth-child(7)
                flex: 0 0 100%
                order: 6
                padding-top: 0
              &:nth-child(8)
                flex: 0 0 100%
                order: 8
                padding-top: 0

@media screen and (max-width: 680px)
  .bonus__page
    .banner
      &__text
        transform: scale(.8)

@media screen and (max-width: 600px)
  .bonus__page
    .banner
      padding: 30px 15px
      justify-content: center
      align-items: start
      height: 125vw
      background-position: 50% 20%
      &::before
        background: linear-gradient(180deg, rgba(0, 0, 67, 0.93) 17.71%, rgba(0, 0, 86, 0.00) 100%)
        height: 55%
        width: 100%
      &__text
        transform: scale(1.2)
        transform-origin: top
        &-title
          font-size: 38px
          line-height: 44px
          letter-spacing: 1.14px
        &-desc
          &::before
            width: 27px
            height: 22px
            margin: 0 12px
          .banner__desc-item
            font-size: 16px
            line-height: 20px
            letter-spacing: .48px
    .info
      &__item
        padding: 30px 16px 40px 16px
        &-title, &-desc
          max-width: 300px
        &-title
          font-size: 32px
        &-desc
          font-size: 16px
        &-btn
          width: 100%
          height: 56px
        &-link
          top: 37px
    .rules
      padding: 20px 0
      &__wrap
        .rules__btn
          border-radius: 0
          font-size: 14px
          height: 60px
          &::before, &::after
            width: 2px
            height: 10px
          &::before
            right: 42px
        .rules__list-wrap
          .rules__list
            margin-top: 2px
          &-item, &-title
            font-size: 12px
            .sub-list
              padding-left: 30px
          &-tableTitle
            font-size: 16px

@media screen and (max-width: 490px)
  .bonus__page
    .banner
      &__text
        transform: scale(1)

@media screen and (max-width: 374px)
  .bonus__page
    .banner
      &__text
        &-title
          font-size: 30px
          line-height: 37px
          letter-spacing: 1.04px
        &-desc
          &::before
            width: 27px
            height: 22px
            margin: 0 12px
          .banner__desc-item
            font-size: 13px
            line-height: 20px
            letter-spacing: .44px
    .info
      &__item
        &-title
          font-size: 30px
          max-width: 260px

@media screen and (max-width: 350px)
  .bonus__page
    .banner
      height: 130vw
      background-position: 50% 10%

@media screen and (max-width: 335px)
  .bonus__page
    .banner
      .banner__marquee-wrap
        .banner__marquee
          &-list
            .banner__marquee-item
              font-size: 11px
              &:nth-child(2)
                max-width: 60px