.bonus__page
    .banner
        .banner__text
            .banner__text-item bonus
            .banner__text-item na prvi #[span depozit]
        .banner__marquee-wrap
            .banner__marquee
                ul.banner__marquee-list
                    .banner__marquee-fav
                    li.banner__marquee-item 100% PÂNĂ LA <br> 5000 LEI
                    li.banner__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE
                    li.banner__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.banner__marquee-item 250 DE LEI PARIU <br> FĂRĂ RISC
                    .banner__marquee-fav
                ul.banner__marquee-list
                        li.banner__marquee-item 100% PÂNĂ LA <br> 5000 LEI
                        li.banner__marquee-item.plus
                            img(src='img/plus.svg' alt='plus')
                        li.banner__marquee-item PÂNĂ LA 725 DE <br> ROTIRI GRATUITE
                        li.banner__marquee-item.plus
                            img(src='img/plus.svg' alt='plus')
                        li.banner__marquee-item 250 DE LEI PARIU <br> FĂRĂ RISC
                ul.banner__marquee-list
                    .banner__marquee-fav
                    li.banner__marquee-item 100% PÂNĂ LA <br> 5000 LEI
                    li.banner__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE
                    li.banner__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.banner__marquee-item 250 DE LEI PARIU <br> FĂRĂ RISC
                ul.banner__marquee-list
                    .banner__marquee-fav
                    li.banner__marquee-item 100% PÂNĂ LA <br> 5000 LEI
                    li.banner__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.banner__marquee-item PÂNĂ LA 725 DE <br> ROTIRI GRATUITE
                    li.banner__marquee-item
                        img(src='img/plus.svg' alt='plus')
                    li.banner__marquee-item 250 DE LEI PARIU <br> FĂRĂ RISC

    .info
        .info__item
            .info__item-title 100% PÂNĂ LA 5000 LEI
            .info__item-desc Te înregistrezi, faci prima depunere și primești 100% din valoarea acesteia până la 5000 lei. Tu alegi la ce joci: CASINO & SPORT
            a(href="#" target="_blank").info__item-btn DETALII
            a(href="#" target="_blank").info__item-link
        .info__item
            .info__item-title PÂNĂ LA 725 DE ROTIRI GRATUITE
            .info__item-desc La prima depunere efectuată primești și până la 725 rotiri gratuite!
            a(href="#" target="_blank").info__item-btn DETALII
            a(href="#" target="_blank").info__item-link
        .info__item
            .info__item-title 250 DE LEI PARIU FĂRĂ RISC
            .info__item-desc Mai mult, tot la prima depunere primești în plus și un pariu fără <br> risc de până la 250 de lei!
            a(href="#" target="_blank").info__item-btn DETALII
            a(href="#" target="_blank").info__item-link
    .rules
        details.rules__wrap
            summary.rules__btn
                span TERMENI ȘI CONDIȚII
            .rules__list-wrap
                ul.rules__list
                    li.rules__list-title Art. 1. Organizatorul Campaniei
                    li.rules__list-item 1.1 Organizatorul FAVBET ONLINE S.R.L., societate comercială cu sediul în București, înmatriculată la Oficiul Registrului Comerțului de pe lângă Tribunalul București sub numărul de J40/14188/2015 din 18.11.2015, CUI 35246629, Licența seria: L1200662W0011197, valabilă de la data de 01.05.2020.
                    li.rules__list-item 1.2 Campania se desfășoară în conformitate cu prezentul Regulament. Participanții la Campania promoțională trebuie să cunoască și să respecte clauzele prezentului Regulament.
                    li.rules__list-title Art.2 Locul desfășurării Campaniei
                    li.rules__list-item 2.1 Campania se desfășoară exclusiv pe site-ul Organizatorului Favbet.ro.
                    li.rules__list-title Art. 3. Perioada de desfășurare a Campaniei
                    li.rules__list-item 3.1 Perioada desfășurării Campaniei este de la data de span xx.xx.202x pȃnă la data de xx.xx.202x orele 23:59.
                    li.rules__list-title Art. 4. Mecanismul desfășurării campaniei
                    li.rules__list-item 4.1 Campania se adresează tuturor jucătorilor care își deschid cont pe site-ul FavBet.ro, după data de xx.xx.202x și au efectuat prima depunere;
                    li.rules__list-item 4.2 “Pachetul de Bun Venit” conține #[em “Bonus 100% pȃnă la 5000 de lei Casino”];  #[em “250 de lei Pariu Fără Risc” și “Până la 725 de Rotiri Gratuite”;]
                    li.rules__list-item 4.3 Pentru a beneficia de această campanie este necesară o primă depunere de minimum 50 de Lei;
                    li.rules__list-title Art. 5 Termeni și condiții de participare #[em “Bonus 100% pȃnă la 5000 de lei Casino”]
                    li.rules__list-item 5.1 Pentru a se realiza rulajul pentru acest tip de bonus, se va utiliza inițial suma din balanța reală, apoi suma din balanța bonus;
                    li.rules__list-item 5.2 În situația în care fondurile disponibile din balanța reală nu acoperă în totalitate miza ce se dorește a se plasa pe biletul de joc, atunci diferența va fi luată din balanța bonus. #[em De exemplu, un pariu total în valoare totală de 100 de lei, iar  în balanța reală se regăsesc fonduri disponibile în valoare de 80 de lei; diferența până la 100 va fi retrasă din balanța bonus. Astfel, pariul de 100 de lei  va fi împărții în 2 pariuri. Aceeași regulă se va aplica și la câștiguri;]
                    li.rules__list-item 5.3 Pentru ca balanța bonus să se transfere în balanța reală, trebuie efectuat rulajul x60 (D+B)  exclusiv în secțiunea Casino în maximum 10 zile de la activare. În caz contrar, câștigurile generate din utilizarea bonusului vor fi anulate;
                    li.rules__list-item 5.4 Pentru realizarea rulajului, se poate utiliza atât balanța reală cât și balanța bonus;
                    li.rules__list-item 5.5 Miza maximă luată în considerare la calcularea rulajului este de 100 de lei, orice miză peste această sumă nu va fi luată în considerare. #[em De exemplu, dacă pariul plasat este în valoare de 200 de lei, va contribui la calcularea rulajului doar suma maximă de 100 de lei;]
                    li.rules__list-item 5.6 Vor contribui la calcularea rulajului doar pariurile plasate și validate, pariurile nefinalizate sau incomplete nu vor contribui și nu vor fi luate în considerare la calcularea rulajului;
                    li.rules__list-item 5.7 Nu vor contribui la încărcarea barei de progres pariurile plasate în secțiunile "Sport", "Live", "Loto", "Live Casino", "Sporturi Virtuale" cât și anumite jocuri din secțiunea Casino conform listei complete disponibile  <a href="https://www.favbet.ro/ro/jocuri-excluse-din-rulajul-bonusului/" target="_blank">AICI</a>;
                    li.rules__list-item 5.8 În situație excepțională în care bonusul nu este transferat automat în balanța bonus, este necesar să ne contactați pe adresa de e-mail suport@favbet.ro sau prin intermediul Live Chat înainte de a utiliza suma depusă, parțială sau totală. În caz contrar, bonusul nu va putea fi acordat din nou;
                    li.rules__list-item 5.9 Suma maximă ce va fi transferată din balanța bonus în balanța reală după finalizarea rulajului este de maximum x2 suma depusă. Câștigurile obținute peste această sumă vor fi anulate la finalizarea rulajului sau la solicitarea de retragere;
                    li.rules__list-item 5.10 Odată ce ultimul pariu bonus este calculat și bara de progres este completă, fondurile din balanța bonus vor fi transferate în balanța reală;
                    li.rules__list-item 5.11 În cazul în care nu s-a realizat finalizarea rulajului iar balanța reală cât și balanța bonus au fost utilizate în totalitate, orice depunere ulterioară nu va influența potențialul câștig. Acesta își va menține valoarea de 0,00 lei;
                    li.rules__list-item 5.12 Fondurile din balanța bonus nu pot fi retrase până când nu se finalizează rulajul bonusului. Dacă se solicită o retragere înainte de îndeplinirea condițiilor de rulaj a bonusului, fondurile din balanța bonus vor fi anulate;
                    li.rules__list-item 5.13 În cazul în care se dorește activarea altui bonus de tip PWB, atunci balanta bonus aferenta primului PWB va fi anulata, iar în balanta bonus se va regăsi doar valoarea bonusului PWB nou acceptat;
                    li.rules__list-item 5.14 Dacă bonusul a fost anulat sau a expirat, valoarea bonusului cât și a câștigurilor aferente acestuia se vor anula.
                    li.rules__list-title Art. 6 Termeni și condiții de participare #[em “Bonus 100% pȃnă la 5000 de lei Sport&Live”]
                    li.rules__list-item 6.1 Pentru a se realiza rulajul pentru acest tip de bonus, se va utiliza inițial suma din balanța reală, apoi suma din balanța bonus;
                    li.rules__list-item 6.2 În situația în care fondurile disponibile din balanța reală nu acoperă în totalitate miza ce se dorește a se plasa pe biletul de joc, atunci diferența va fi luată din balanța bonus. #[em De exemplu, un pariu total în valoare totală de 100 de lei, iar  în balanța reală se regăsesc fonduri disponibile în valoare de 80 de lei; diferența până la 100 va fi retrasă din balanța bonus. Astfel, pariul de 100 de lei  va fi împărții în 2 pariuri. Aceeași regulă se va aplica și la câștiguri;]
                    li.rules__list-item 6.3 Pentru ca balanța bonus să se transfere în balanța reală, trebuie efectuat rulajul x40 (D+B)   exclusiv în secțiunile Sport&Live în maximum 10 zile de la activare. În caz contrar, câștigurile generate din utilizarea bonusului vor fi anulate;
                    li.rules__list-item 6.4 Pentru realizarea rulajului se poate utiliza atât balanța reală, cât și balanța bonus;
                    li.rules__list-item 6.5 Se vor lua în considerare la calcularea rulajului doar biletele validate de tip Simplu sau/și Multiplu, indiferent de rezultatul acestora;
                    li.rules__list-item 6.6 Cota minimă a fiecărui eveniment plasat trebuie să fie de 1,60;
                    li.rules__list-item 6.7 Bilete plasate și validate după expirarea termenului maxim de îndeplinire a rulajului, nu vor contribui și nu vor fi luate în considerare la calcularea acestuia;
                    li.rules__list-item 6.8 Nu sunt luate în considerare biletele de joc care din diverse motive primesc cotă 1.00, biletele care au utilizat opțiunea Cash Out, biletele utilizate ca Pariu Fără Risc obținute în urma altor promoții/campanii, pariuri antepost cât si biletele de Tip Sistem;
                    li.rules__list-item 6.9 Nu vor contribui la încărcarea barei de progres pariurile plasate în secțiunile "Loto",  "Casino", "Live Casino", "Sporturi Virtuale";
                    li.rules__list-item 6.10 În situație excepțională în care bonusul nu este transferat automat în balanța bonus, este necesar să ne contactați pe adresa de e-mail suport@favbet.ro sau prin intermediul Live Chat înainte de a utiliza suma depusă, parțială sau totală. În caz contrar, bonusul nu va putea fi acordat din nou;
                    li.rules__list-item 6.11 Suma maximă ce va fi transferată din balanța bonus în balanța reală după finalizarea rulajului este de maximum x2 suma depusă. Câștigurile obținute peste această sumă vor fi anulate la finalizarea rulajului sau la solicitarea de retragere;
                    li.rules__list-item 6.12 Odată ce ultimul pariu bonus este calculat și bara de progres este completă, fondurile din balanța bonus vor fi transferate în balanța reală;
                    li.rules__list-item 6.13 În cazul în care nu s-a realizat finalizarea rulajului, iar balanța reală cât și balanța bonus au fost utilizate în totalitate, orice depunere ulterioară nu va influența potențialul câștig. Acesta își va menține valoarea de 0,00 lei;
                    li.rules__list-item 6.14 Fondurile din balanța bonus nu pot fi retrase până când nu se finalizează rulajul bonusului. Dacă se solicită o retragere înainte de îndeplinirea condițiilor de rulaj a bonusului, fondurile din balanța bonus vor fi anulate;
                    li.rules__list-item 6.15 În cazul în care se dorește activarea altui bonus de tip PWB, atunci balanta bonus aferenta primului PWB va fi anulata, iar în balanta bonus se va regăsi doar valoarea bonusului PWB nou acceptat;
                    li.rules__list-item 6.16 Dacă bonusul a fost anulat sau a expirat, valoarea bonusului cât și a câștigurilor aferente acestuia se vor anula.
                    li.rules__list-title Art. 7 Termeni și Condiții #[em “Pariu Fără Risc”]
                    li.rules__list-item 7.1 Valoarea Pariului Fără Risc este de maxim 250 de lei;
                    li.rules__list-item 7.2 Biletul poate fi plasat doar dacă Jucătorul deține în balanța contului fonduri disponibile pentru a utiliza Pariului fără Risc, însă acesta nu poate fi plasat cu o valoare mai mare de 250 de lei;
                    li.rules__list-item 7.3 Cotele fiecărui eveniment plasat trebuie să fie cuprinse între minim 2.00 și maxim 5.00;
                    li.rules__list-item 7.4 Nu sunt luate în considerare bilete de TIP SISTEM;
                    li.rules__list-item 7.5 După selectarea evenimentelor și îndeplinirea condițiilor mai sus menționate înaintea plasării biletului, se va bifa căsuța “Pariu Fără Risc”;
                    li.rules__list-item 7.6 Cȃștigul generat din acest bonus trebuie rulat  x1;
                    li.rules__list-item 7.7 În cazul în care biletul este necȃștigător, miza plasată se va fi returnată;
                    li.rules__list-item 7.8 Bonusul este disponibil doar dacă depunerea și acceptarea sunt efectuate în maximum 3 (trei) zile de la înregistrarea pe platforma favbet.ro;
                    li.rules__list-item 7.9 Bonusul trebuie utilizat în maximum 7 (șapte) zile de la acordare. În caz contrar, acesta va expira;
                    li.rules__list-item 7.10 Acceptarea și utilizarea fiecărui bonus se face individual, celelalte bonusuri disponibile în cont pot fi în așteptare sau pe pauză.
                    li.rules__list-title Art. 8 Termeni și Condiții #[em “725 de Rotiri Gratuite”]
                    li.rules__list-item 8.1 Rotirile gratuite se vor acorda la unul sau la mai multe jocuri;
                    li.rules__list-item 8.2 Valoarea unei Rotiri Gratuite este de la 0.20 lei până la 1.00 leu, în funcție de jocul la care au fost acordate rotirile gratuite;
                    li.rules__list-item 8.3 Bonusul trebuie acceptat în maximum 3 (zile) zile de la efectuarea depunerii. În caz contrar, acesta va expira;
                    li.rules__list-item 8.4 Din momentul acceptării bonusului, jucătorul are la dispoziție 5 (cinci) zile pentru a îndeplini condițiile de rulaj;
                    li.rules__list-item 8.5 După finalizarea rulajului jucătorul are la dispoziție 3 (trei) zile  pentru a accepta bonusul;
                    li.rules__list-item 8.6 Bonusul de până la 725 Rotirie Gratuite se va acorda în funcție de valoarea și numărul depunerilor efectuate, după cum urmează:
                    li.rules__list-tableTitle Prima Depunere
                    .table-container
                        .table
                            .table__row
                                .table__row-item Valoare Depunere
                                .table__row-item Rulaj
                                .table__row-item Nr. Rotiri Gratuite acordate în urma depunerii și a rulajului efectuat
                                .table__row-item Bet minim pentru îndeplinirea condiției de Rulaj
                                .table__row-item Între 20 și 50 de lei
                                .table__row-item 50 de lei
                                .table__row-item 50 de Rotiri Gratuite
                                .table__row-item 0,20 de bani
                    li.rules__list-tableTitle A 2-a depunere
                    .table-container
                        .table
                            .table__row
                                .table__row-item Valoare Depunere
                                .table__row-item Rulaj
                                .table__row-item Nr. Rotiri Gratuite acordate în urma depunerii și a rulajului efectuat
                                .table__row-item Bet minim pentru îndeplinirea condiției de Rulaj
                                .table__row-item Între 51 și 100 de lei
                                .table__row-item 75 de lei
                                .table__row-item 75 de Rotiri Gratuite
                                .table__row-item 0,20 de bani
                    li.rules__list-tableTitle A 3-a depunere
                    .table-container
                        .table
                            .table__row
                                .table__row-item Valoare Depunere
                                .table__row-item Rulaj
                                .table__row-item Nr. Rotiri Gratuite acordate în urma depunerii și a rulajului efectuat
                                .table__row-item Bet minim pentru îndeplinirea condiției de Rulaj
                                .table__row-item Între 101 și 150 de lei
                                .table__row-item 100 de lei
                                .table__row-item 100 de Rotiri Gratuite
                                .table__row-item 1,00 de leu
                    li.rules__list-tableTitle A 4-a depunere
                    .table-container
                        .table
                            .table__row
                                .table__row-item Valoare Depunere
                                .table__row-item Rulaj
                                .table__row-item Nr. Rotiri Gratuite acordate în urma depunerii și a rulajului efectuat
                                .table__row-item Bet minim pentru îndeplinirea condiției de Rulaj
                                .table__row-item Între 151 și 200 de lei
                                .table__row-item 400 de lei
                                .table__row-item 200 de Rotiri Gratuite
                                .table__row-item 2,00 de lei
                    li.rules__list-tableTitle A 5-a depunere
                    .table-container
                        .table
                            .table__row
                                .table__row-item Valoare Depunere
                                .table__row-item Rulaj
                                .table__row-item Nr. Rotiri Gratuite acordate în urma depunerii și a rulajului efectuat
                                .table__row-item Bet minim pentru îndeplinirea condiției de Rulaj
                                .table__row-item Între 201 și 12500 de lei
                                .table__row-item 600 de lei
                                .table__row-item 300 de Rotiri Gratuite
                                .table__row-item 2,00 de lei
                    li.rules__list-title Art. 9 Alte clauze
                    li.rules__list-item 9.1 Favbet își rezervă dreptul de a exclude jucătorii care participă la campanie cu conturi multiple, auto-excluși sau blocați;
                    li.rules__list-item 9.2 Nu au dreptul să participe la prezenta Campanie angajații Societății Favbet Online, colaboratorii, angajații colaboratorilor, precum soții, rudele de gradul I ale acestora;
                    li.rules__list-item 9.3 Favbet își rezervă dreptul de a suspenda Campania pentru un jucător, un grup sau pentru toți jucătorii, fără explicații sau notificări prealabile, dacă aceasta este folosită într-o manieră ce contravine Regulilor Organizatorului;
                    li.rules__list-item 9.4 Favbet nu este responsabil dacă un jucător sau grup de jucătorii nu îndeplinesc condițiile de participare ale prezentei campanii;
                    li.rules__list-item 9.5 Campania respectă Regulamentul și Termenii și Condițiile Favbet;
                    li.rules__list-item 9.6 Campanie este limitată la o singură utilizare pentru fiecare cont / adresa /IP etc.
                    li.rules__list-title Art. 10 Informarea participanților
                    li.rules__list-item 10.1 Regulamentul Campaniei este disponibil pe site-ul Organizatorului Favbet.ro;
                    li.rules__list-item 10.2 Participarea la prezenta Campanie implică obligativitatea respectării tuturor prevederilor prezentului Regulament;
                    li.rules__list-item 10.3 Pentru orice problemă legată de acestă campanie, ne puteți contacta pe adresa de e-mail: suport@favbet.ro;
                    li.rules__list-item 10.4 Campania este valabilă pe toate versiunile platformei (desktop, mobil și aplicație mobilă).
                    li.rules__list-title Art. 11 Dispoziții finale
                    li.rules__list-item 11.1 Participarea la această Campanie reprezintă acordul deplin al jucătorului de a respecta acest Regulament;
                    li.rules__list-item 11.2 Este interzisă participarea la Campanie a persoanelor cu vârsta sub 18 ani;
                    li.rules__list-item 11.3 Acest Regulament poate fi modificat și/sau actualizat în perioada Campaniei sau în oricare alt moment fără a anunța în prealabil jucătorii. Aceștia au obligația de a verifica Termenii și Condițiile Campaniei;
                    li.rules__list-item 11.4 În cazul în care se constată că un jucător a încălcat Regulamentul, el/ea va fi exclus(ă) din Campanie;
                    li.rules__list-item 11.5 Organizatorul nu își asumă nicio răspundere în următoarele cazuri (fără a se limita la):
                        ul.sub-list
                            li.sub-list__item amânarea Campaniei și erorile care apar în timpul acesteia;
                            li.sub-list__item erorile de conectare sau pentru alte probleme tehnice (Desktop, Mobil, Tabletă și internet) ale jucătorilor;
                    li.sub-list__item pentru primirea de date de contact și/sau alte informații incomplete și/sau incorecte, care sunt necesare pentru Campanie.