.banner
    .banner__column
        .banner__column-item
            span 100%
            span.column-item--right DO <br> 700 eur
        .banner__column-text Bonus na prvi depozit
    .banner__column
        .banner__column-item
            span.column-item--left 30 €
            span risk-free <br> bet
        .banner__column-item.banner__column-item--blue
            span 200
            span BESPLATNIH <br> VRTNJI
    .banner__marquee-wrap
        .banner__marquee
            ul.banner__marquee-list
                li.banner__marquee-item 250 DE LEI PARIU #[br] FĂRĂ RISC
                li.banner__marquee-item
                    img(src='img/plus.svg' alt='plus')
                li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE #[span *]
                .banner__marquee-fav
            ul.banner__marquee-list
                li.banner__marquee-item 250 DE LEI PARIU #[br] FĂRĂ RISC
                li.banner__marquee-item
                    img(src='img/plus.svg' alt='plus')
                li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE #[span *]
                .banner__marquee-fav
            ul.banner__marquee-list
                li.banner__marquee-item 250 DE LEI PARIU #[br] FĂRĂ RISC
                li.banner__marquee-item
                    img(src='img/plus.svg' alt='plus')
                li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE #[span *]
                .banner__marquee-fav
            ul.banner__marquee-list
                li.banner__marquee-item 250 DE LEI PARIU #[br] FĂRĂ RISC
                li.banner__marquee-item
                    img(src='img/plus.svg' alt='plus')
                li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE #[span *]
                .banner__marquee-fav
            ul.banner__marquee-list
                li.banner__marquee-item 250 DE LEI PARIU #[br] FĂRĂ RISC
                li.banner__marquee-item
                    img(src='img/plus.svg' alt='plus')
                li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE #[span *]
                .banner__marquee-fav
            ul.banner__marquee-list
                li.banner__marquee-item 250 DE LEI PARIU #[br] FĂRĂ RISC
                li.banner__marquee-item
                    img(src='img/plus.svg' alt='plus')
                li.banner__marquee-item PÂNĂ LA 725 DE #[br] ROTIRI GRATUITE #[span *]
                .banner__marquee-fav
